.vagrant
.idea
wordpress-example/src/vendor
wordpress-example/src/public/wp
wordpress-example/src/public/wp-config-local.php
wordpress-example/src/public/wp-content/uploads
nodejs-example/node_modules
redis-storage
mysql-storage
/silex-alpine-example/vendor
/silex-alpine-example/composer-cache
/laravel-example/node_modules
/laravel-example/public/storage
/laravel-example/vendor
/laravel-example/.idea
/laravel-exampleHomestead.json
/laravel-exampleHomestead.yaml
/laravel-example.env

